<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Conditional</title>
</head>
<body>
<h1>COnditional statements</h1>
<h1>User is <span th:style="${isActive}  ? 'color:green' : 'color:red'" th:text="${isActive} ? 'ACTIVE' : 'NOT Active'"></span> </h1>
<h1 th:if="${gender} == 'M'">Male</h1>
<h1 th:unless="${gender} == 'M'">Female</h1>
<div th:switch="${#lists.size(myList)}">

    <h1 th:case="'0'">List Contains 0 elements</h1>
    <h1 th:case="'1'">List Contains 1 elements</h1>
    <h1 th:case="'2'">List Contains 2 elements</h1>
    <h1 th:case="'3'">List Contains 3 elements</h1>
    <h1 th:case="'4'">List Contains 4 elements</h1>
    <h1 th:case="'5'">List Contains 5 elements</h1>
    <h1 th:case="'6'">List Contains 6 elements</h1>
    <h1 th:case="'*'">List Contains more than 6 elements</h1>

</div>
</body>
</html>
