<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Example</title>
    <link rel="stylesheet" th:href="@{/css/mystyle.css}">
</head>
<body>
<div class="container">
    <h1>Adding CSS, JS amd Image in Thymeleaf</h1>
    <img src="" th:src="@{/image/profile.png}">

</div>
<script th:src="@{/js/myjs.js}"></script>

</body>
</html>
